package dtos


import "time"

type {{.PascalCase}}Request struct {
  
  // Add your fields here

}

type {{.PascalCase}}Response struct {
  ID           string        `json:"id"`
  
  // Add your fields here

  CreatedAt    time.Time     `json:"created_at"`
	UpdatedAt    time.Time     `json:"updated_at"`
}