package mappers

import (
  "{{.RepoName}}/{{.Paths.Dtos}}"
  "{{.RepoName}}/{{.Paths.Models}}"
)

func Map{{.PascalCase}}ToModel(request *dtos.{{.PascalCase}}Request) *models.{{.PascalCase}} {
  return &models.{{.PascalCase}}{
    // Map your fields here
  }
}

func Map{{.PascalCase}}ToResponse(model *models.{{.PascalCase}}) *dtos.{{.PascalCase}}Response {
  return &dtos.{{.PascalCase}}Response{
    ID: model.ID,
    // Map your fields here
    CreatedAt: model.CreatedAt,
    UpdatedAt: model.UpdatedAt,
  }
}

func Map{{.PascalCase}}ListToResponse(models []*models.{{.PascalCase}}) []*dtos.{{.PascalCase}}Response {
  var responses []*dtos.{{.PascalCase}}Response
  for _, model := range models {
    responses = append(responses, Map{{.PascalCase}}ToResponse(model))
  }
  return responses
}