package repositories

import (
  "{{.RepoName}}/{{.Paths.Models}}"
  
  "gorm.io/gorm"
)

type {{.PascalCase}}Repository struct {
	db *gorm.DB
}

func New{{.PascalCase}}Repository(db *gorm.DB) *{{.PascalCase}}Repository {
  return &{{.PascalCase}}Repository{db: db}
}

func (r *{{.PascalCase}}Repository) Create{{.PascalCase}}({{.CamelCase}}Request *models.{{.PascalCase}}) error {
  return r.db.Create({{.CamelCase}}Request).Error
}

func (r *{{.PascalCase}}Repository) Get{{.PascalCase}}ByID(id string) (*models.{{.PascalCase}}, error) {
  var {{.CamelCase}}Response models.{{.PascalCase}}
  if err := r.db.First(&{{.CamelCase}}Response, id).Error; err != nil {
    return nil, err
  }
  return &{{.CamelCase}}Response, nil
}

func (r *{{.PascalCase}}Repository) Update{{.PascalCase}}(id string, {{.CamelCase}}Request *models.{{.PascalCase}}) error {
  return r.db.Model(&models.{{.PascalCase}}{}).Where("id = ?", id).Updates({{.CamelCase}}Request).Error
}

func (r *{{.PascalCase}}Repository) Delete{{.PascalCase}}(id string) error {
  return r.db.Where("id = ?", id).Delete(&models.{{.PascalCase}}{}).Error
}

func (r *{{.PascalCase}}Repository) ListAll{{.PascalCase}}s() ([]*models.{{.PascalCase}}, error) {
  var {{.CamelCase}}s []*models.{{.PascalCase}}
  if err := r.db.Find(&{{.CamelCase}}s).Error; err != nil {
    return nil, err
  }
  return {{.CamelCase}}s, nil
}

func (r *{{.PascalCase}}Repository) List{{.PascalCase}}s(page, pageSize int) ([]*models.{{.PascalCase}}, error) {
  var {{.CamelCase}}s []*models.{{.PascalCase}}
  if err := r.db.Offset((page - 1) * pageSize).Limit(pageSize).Find(&{{.CamelCase}}s).Error; err != nil {
    return nil, err
  }
  return {{.CamelCase}}s, nil
} 

func (r *{{.PascalCase}}Repository) Count{{.PascalCase}}s() (int64, error) {
  var count int64
  if err := r.db.Model(&models.{{.PascalCase}}{}).Count(&count).Error; err != nil {
    return 0, err
  }
  return count, nil
}

func (r *{{.PascalCase}}Repository) Get{{.PascalCase}}sByFields(fields map[string]interface{}) ([]*models.{{.PascalCase}}, error) {
  var {{.CamelCase}}s []*models.{{.PascalCase}}
  if err := r.db.Where(fields).Find(&{{.CamelCase}}s).Error; err != nil {
    return nil, err
  }
  return {{.CamelCase}}s, nil
}

func (r *{{.PascalCase}}Repository) Get{{.PascalCase}}ByFields(fields map[string]interface{}) (*models.{{.PascalCase}}, error) {
  var {{.CamelCase}}Response models.{{.PascalCase}}
  if err := r.db.Where(fields).First(&{{.CamelCase}}Response).Error; err != nil {
    return nil, err
  }
  return &{{.CamelCase}}Response, nil
}